@charset "UTF-8";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*-- BODY
===================== */
body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #fbfbfb;
}

/*-- HEADER
===================== */

@media screen and (min-width:320px) {
	.header-global {
		display: inline-block;
	}
}

@media screen and (min-width:1000px) {
.header-global {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	background: #fff;
	height: 83px;
	font-family: 'Graduate', 'cursive';
}
}

@media screen and (min-width:320px) {
	.logo {
		display: block;
		text-align: center;
		margin-left: 5%;
		width: 302px;
		height: 83px;
		background: url(../img/logo2.png);
	}
}

@media screen and (min-width:640px) {
	.logo {
		text-align: left;
		float: left;
		background: url(../img/logo2.png);
	}
}

@media screen and (min-width:320px) {
	.nav-container {
		display: inline-block;
		text-align: center;
		clear: both;
		width: 200px;
		font-family: 'Graduate', 'cursive';
		color: #430b54;
	}
}

@media screen and (min-width:640px) {
	.nav-container {
		clear: none;
		float: right;
		width: 300px;
	}
}

@media screen and (min-width:1000px) {
	.nav-container {
		width: 900px;
	}
}

@media screen and (min-width:320px) {
	.navbar {
		list-style: none;
		margin: auto;
		text-align: center;
	}
}

@media screen and (min-width:640px) {
	.navbar {
		margin-top: 15px;
		width: 100%;
	}
}

@media screen and (min-width:1000px) {
	.navbar ul {
		
		
	}
}

.navbar li:hover {
	background: #d6d6d6;
}

@media screen and (min-width:320px) {
	li {
		color: #171717;
		display: inline-block;
		padding-left: 25px;
		padding-right: 25px;
		font-size: 12px;
		color: #430b54;
	}
}

@media screen and (min-width:640px) {
	li {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 14px;
	}
}

.banner {
	background: url(../img/big4.jpg) 0px -100px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 600px;
}

.tag {
	float: left;
	margin-left: 5%;
	width: 50%;
	font-family: 'Graduate', 'cursive';
}


.tag h1 {
	font-size: 80px;
	color: #fff;
	margin-top: 150px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}



.button a {
	display: block;
	letter-spacing: 1px;
	font-weight: normal;
	float: left;
	width: 120px;
	padding: 5px 5px;
	color: #fff;
	border: 2px solid #fff;
	text-align: center;
	text-decoration: none;
}

.button a:hover {
	background: #FFFFFF;
	color: #460b59;
}







	