@charset "UTF-8";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*======================
	global styles
===================== */
body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #ffffff;
}

a {
	text-decoration: none;
}

html { font-size: 100%; }
 
/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 112%; }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
}

/*-- HEADER
===================== */

.header-global {
	font-family: 'Graduate', 'cursive';
	width: 100%;
	margin-top: .8rem;
	margin-bottom: .8rem;
	margin-right: auto;
	height: auto;
}

/* this is a little fix.  if an element contains only floated child elements, it won't have a height, so this fixes it. */
.header-global:after {
  content: "";
  display: table;
  clear: both;
}

.header a {
	
}

.logo {
	display: inline-block;
	float: left;
}
.pull { 
	display: none; 
	text-indent: -9999px; 
}

.nav {
	float: right;
	display: block;
	list-style: none;
	margin-right: 2rem;
	margin-top: 2rem;
}

.nav li {
	display: inline-block;
	
	font-size: 1.25rem;
}

.nav a {
	color: #460b59;
	padding: .5rem;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition:    all 0.4s ease 0s;
	-o-transition:      all 0.4s ease 0s;
	transition:         all 0.4s ease 0s; 
}

.nav a:hover, .nav a:focus {
	background: #460b59;
	color: #FFFFFF;
}

/* responsive navbar, changing to expand button */
@media screen and (max-width: 900px) {

.nav                      { display:none; height:auto; }
   .responsive-nav           { position: relative; }
   .pull                     { display:block; float:right; margin:2rem 0 0 3rem;  background:none; border:none; }
   .pull span                { display:block; }
   .lines-button             { padding:.65rem; transition:.3s; cursor:pointer; user-select:none; }
   .lines                    { display:inline-block; width:2rem; height:.3rem; background:#460b59; transition:0.3s; position:relative; }
   .lines:before,
   .lines:after                          { display:inline-block; width:2rem; height:.3rem; background:#460b59; transition:0.3s; position:absolute;
                                           left:0; content:'';}
   .lines:before                         { top:.65rem; }
   .lines:after                          { top:-.7rem; }
   .lines-button.x.close .lines          { background:transparent; }

   .nav                      { float:left; padding-left: 5%; padding-right: 5%; margin-left: 5%; margin-right: 5%; font-family: 'Graduate', 'cursive';; font-size:1rem; text-align:center; background:#eeeeee; clear:left; width:90%; }
   .nav li                   { display:block; border-bottom:solid 1px #aaaaaa; margin:0; padding:0; }
   .nav li a                 { display:block; padding:1rem 0 1rem; color:#460b59;}
   .nav li a:active          { color:#fbfbfb; background:#460b59; padding:12px 6px; }
   .nav li#current a:active  { color:#460b59; background:#fbfbfb; padding:12px 0; }
   .nav li:last-child        { border:none; }
   .nav .fa-angle-right      { display:block; float:right; margin-top:1px; }

}
/* =================
	MAIN CONTENT
==================*/

.banner {
	background: url(../img/big4.jpg) 0px -100px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	min-height: 400px;
}

@media screen and (max-width: 900px) {
	.banner {
		background-position: 0px -50px;
	}
}

@media screen and (min-width: 900px) {
	.banner {
		min-height: 600px;
	}
}

.banner:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (min-width: 200px) {
	.tag {
		margin-left: 3%;
		float: left;
		width: 80%;
		font-family: 'Graduate', 'cursive';
		margin-bottom: 5rem;
	}
}

@media screen and (min-width: 900px) {
	.tag {
		margin-left: 5%;
		width: 50%;
	}
}

@media screen and (min-width: 200px) {
	.tag h1 {
		font-size: 2rem;
		color: #fff;
		padding-top: 5rem;
		margin-bottom: 0;
		padding-bottom: 2rem;
	}
}

@media screen and (min-width: 400px) {
	.tag h1 {
		font-size: 3rem;
		
	}
}

@media screen and (min-width: 700px) {
	.tag h1 {
		font-size: 4rem;
		padding-top: 6rem;
	}
}

@media screen and (min-width: 900px) {
	.tag h1 {
		font-size: 4rem;
		padding-top: 9rem;
	}
}



.button a {
	display: block;
	letter-spacing: 1px;
	font-weight: normal;
	float: left;
	width: 120px;
	padding: 5px 5px;
	color: #fff;
	border: 2px solid #fff;
	text-align: center;
	text-decoration: none;
	margin-bottom: 2rem;
}

.button a:hover {
	background: #FFFFFF;
	color: #460b59;
}







	