@charset "UTF-8";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*======================
	global styles
===================== */
body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #ffffff;
}

a {
	text-decoration: none;
}

html { font-size: 100%; }
 
/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 112%; }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
}

[class*='col-'] {
	float: left;
	width: 100%;
	text-align: center;
	padding: 1rem;
}

/*Grid*/
@media (min-width: 700px) {
	.col-3-4 {
		width: 75%;
		background: #bfbfbf;
		border-top: 6px solid #292929;
		padding-top: 0;
		padding-bottom: 3rem;
		
	}
	.col-1-4 {
		width: 25%;
		border-top: 6px solid #888888;
	}
	.col-1-8 {
		width: 12.5%;
		padding: 1%;
		text-align: center;
	}

	.col-spacer {
		width: 49.125%;
		padding: 1%;
		
	}
}

.row {
	width: 100%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/*-- HEADER
===================== */

.header-global {
	font-family: 'Graduate', 'cursive';
	width: 100%;
	margin-top: .8rem;
	margin-bottom: .8rem;
	margin-right: auto;
	height: auto;
}

/* this is a little fix.  if an element contains only floated child elements, it won't have a height, so this fixes it. */
.header-global:after {
  content: "";
  display: table;
  clear: both;
}

.header a {
	
}

.logo {
	display: inline-block;
	float: left;
}
.pull { 
	display: none; 
	text-indent: -9999px; 
}

.nav {
	float: right;
	display: block;
	list-style: none;
	margin-right: 2rem;
	margin-top: 2rem;
}

.nav li {
	display: inline-block;
	
	font-size: 1.25rem;
}

.nav a {
	color: #460b59;
	padding: .5rem;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition:    all 0.4s ease 0s;
	-o-transition:      all 0.4s ease 0s;
	transition:         all 0.4s ease 0s; 
}

.nav a:hover, .nav a:focus {
	background: #460b59;
	color: #FFFFFF;
}

/* responsive navbar, changing to expand button */
@media screen and (max-width: 900px) {

.nav                      { display:none; height:auto; }
   .responsive-nav           { position: relative; }
   .pull                     { display:block; float:right; margin:2rem 0 0 3rem;  background:none; border:none; }
   .pull span                { display:block; }
   .lines-button             { padding:.65rem; transition:.3s; cursor:pointer; user-select:none; }
   .lines                    { display:inline-block; width:2rem; height:.3rem; background:#460b59; transition:0.3s; position:relative; }
   .lines:before,
   .lines:after                          { display:inline-block; width:2rem; height:.3rem; background:#460b59; transition:0.3s; position:absolute;
                                           left:0; content:'';}
   .lines:before                         { top:.65rem; }
   .lines:after                          { top:-.7rem; }
   .lines-button.x.close .lines          { background:transparent; }

   .nav                      { float:left; padding-left: 5%; padding-right: 5%; margin-left: 5%; margin-right: 5%; font-family: 'Graduate', 'cursive'; font-size:1rem; text-align:center; background:#eeeeee; clear:left; width:90%; }
   .nav li                   { display:block; border-bottom:solid 1px #aaaaaa; margin:0; padding:0; }
   .nav li a                 { display:block; padding:1rem 0 1rem; color:#460b59;}
   .nav li a:active          { color:#fbfbfb; background:#460b59; padding:12px 6px; }
   .nav li#current a:active  { color:#460b59; background:#fbfbfb; padding:12px 0; }
   .nav li:last-child        { border:none; }
   .nav .fa-angle-right      { display:block; float:right; margin-top:1px; }

}

/* PLAYER GRID */

.title {
	padding-top: 1rem;
	margin-bottom: .5rem;
}

.heading3 {
	text-align: center;
	font-size: 1.5rem;
	color: #222222;
	margin-bottom: 1rem;
	font-family: 'Graduate', 'cursive';
}


.player-icon {
	background: #460b59;
	height: 50px;
	width: 50px;
	margin: 0;
	font-size: 24px;
	color: #FFFFFF;
	border-radius: 25px;
	text-align: center;
}

.player-icon p {
	line-height: 0px;
}

.player-icon:hover, .player-icon:focus {
	background: #ffffff;
	color: #470b59;
	font-size: 24px;
}

.front {
	padding-left: 39%;
}

.second {
	padding-left: 43%;
}

.flank {
	padding-left: 39%;
}

.eightman {
	padding-left: 47%;
}

.scrumhalf {
	padding-left: 47%;
}

.flyhalf {
	padding-left: 55%;
}

.inside-center {
	padding-left: 63%;
}

.outside-weak-wing {
	padding-left: 23%;
}

.strong-wing {
	padding-left: 79%;
}

.fullback {
	padding-left: 47%;
}

/* 	SIDEBAR */

.sidebar {
	display: inline-block;
	background: #292929;
	font-family: 'Graduate', 'cursive';
	min-height: 679px;
}

.sidebar-title {
	text-align: center;
	font-size: 1.5rem;
	color: #FFFFFF;
	margin-bottom: 1rem;
}

.player-info {
	background: #FFFFFF;
	border-bottom: 1px solid #eeeeee;
	color: #222222;
	margin-bottom: 1rem;
}

.player-info:after {
  content: "";
  display: table;
  clear: both;
}

.player-info p {
	text-align: left;
	margin: .3rem;
	font-size: .8rem;
	padding-top: 5px;
	line-height: 1rem;
}

.player-pic {
	float: right;
	display: inline-block;
	width: 40%;
	height: auto;
}

/* =======================
	ADD PLAYER FORM
======================= */

.form-container {
	text-align: center;
	margin: auto;
	padding: 50px;
	background: #707070;
	font-family: arial, sans-serif;
	border-bottom: 3px solid #460b59;
}

.form-group {
	margin: 30px;
}

.form-control {
	width: 200px;
	font-family: arial, sans-serif;
}

.add {
	border-bottom: 3px solid #460b59;
	margin-bottom: 0;
}

.add-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.add-title, .add-info {
	text-align: center;
	color: #FFFFFF;
	font-family: arial, sans-serif;
}

